
<div ng-if="dashboardCtrl.currentUser">
  Hello {{dashboardCtrl.currentUser.fullName}}
  <button class="btn logout" ng-click="dashboardCtrl.logout()">Log out</button>
</div>
<div class="container">
<div class="dashboard main">
  <button ui-sref="home.dashboard.addclient" class="btn">Add New Client</button>
</div>
 <div>


   <!-- <add-client></add-client>
   <ui-view></ui-view> -->
 </div>
<div>
 List of active clients
</div>
<div>
 List of all previous clients
</div>
</div>

<!--<ui-view></ui-view> -->
